<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<nav th:fragment="admin(title)" class="navbar navbar-expand-sm navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/}">HBJ</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="navbarNav" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" th:classappend="(${#strings.contains(title, 'Home')})? 'active'">
					<a class="nav-link" th:href="@{/}">Home</a>
				</li>
				<li class="nav-item" th:classappend="(${#strings.contains(title, 'Hotel')})? 'active'">
					<a class="nav-link" th:href="@{/hotels}">Hotel</a>
				</li>
			</ul>
			<form th:replace="commons/actions::logout"></form>
		</div>
	</nav>
</body>
</html>