<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="addModal" id="addModal" class="modal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">New Hotel</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="addForm" th:action="@{/hotels}" th:object="${hotel}" method="post">
						<div>
							<div>
								<h5>Basic</h5>
								<div>
									<label for="name">Name</label>
									<input type="text" th:field="*{name}" />
									<div th:errors="*{name}"></div>
								</div>
							</div>
							<div>
								<h5>Contact Details</h5>
								<div>
									<label for="email">Email</label>
									<input type="text" th:field="*{email}" />
									<div th:errors="*{email}"></div>
								</div>
								<div>
									<label for="phoneNumber">Phone Number</label> 
									<input type="text" th:field="*{phoneNumber}" />
									<div th:errors="*{phoneNumber}"></div>
								</div>
							</div>
							<div>
								<h5>Address</h5>
								<div>
									<label for="city">City</label>
									<input type="text" th:field="*{city}" />
									<div th:errors="*{city}"></div>
								</div>
								<div>
									<label for="state">State</label>
									<input type="text" th:field="*{state}" />
									<div th:errors="*{state}"></div>
								</div>
								<div>
									<label for="country">Country</label>
									<input type="text" th:field="*{country}" />
									<div th:errors="*{country}"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="$('#addForm').submit();">Save</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>