<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>User</title>
</head>
<body>
	<section>
		<a class="btn btn-secondary" th:href="@{/users}">Back</a>
		<form th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
			<h3>Profile</h3>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="id">ID</label>
					<input type="text" class="form-control" th:field="*{id}" size="1" readonly />
				</div>
				<div class="form-group col-auto">
					<label for="username">Username</label>
					<input type="text" class="form-control" th:field="*{username}" readonly />
				</div>
				<div class="form-group col-auto">
					<label for="role.name">Role</label>
					<input type="text" class="form-control" th:field="*{role.name}" size="9" readonly />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="firstName">First Name</label>
					<input type="text" class="form-control" th:field="*{firstName}" />
					<div th:errors="*{firstName}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="lastName">Last Name</label> 
					<input type="text" class="form-control" th:field="*{lastName}" />
					<div th:errors="*{lastName}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="email">Email</label>
					<input type="email" class="form-control" th:field="*{email}" />
					<div th:errors="*{email}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="phoneNumber">Phone Number</label> 
					<input type="tel" class="form-control" th:field="*{phoneNumber}" />
					<div th:errors="*{phoneNumber}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</form>
		<form th:action="@{/users/{id}/changePassword(id=${user.id})}" th:object="${user}" method="post">
			<h3>Security</h3>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="rawPassword">Password</label>
					<input type="password" class="form-control" th:field="*{rawPassword}" placeholder="password" />
					<div th:errors="*{rawPassword}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="confirmRawPassword">Confirm Password</label>
					<input type="password" class="form-control" th:field="*{confirmRawPassword}" placeholder="password" />
					<div th:errors="*{confirmRawPassword}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<button type="submit" class="btn btn-primary">Change</button>
				</div>
			</div>
		</form>
		<div th:if="${user.role.name ne 'admin'}">
			<h3>Controls</h3>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="enableStatus">Enabled?</label>
					<div class="input-group">
						<input type="text" id="enableStatus" class="form-control" th:value="${user.enabled ? 'Yes' : 'No'}" size="1" readonly />
						<div class="input-group-append">
							<button th:if="${not user.enabled}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#enableModal"
											th:onclick="'enableUser(' + ${user.id} + ')'">Enable</button>
							<button th:if="${user.enabled}" type="button" class="btn btn-danger" data-toggle="modal" data-target="#disableModal"
											th:onclick="'disableUser(' + ${user.id} + ')'">Disable</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success alert-dismissible fixed-top">
			<div class="text-center font-weight-bold" th:text="${successMessage}"></div>
			<button type="button" class="close" data-dismiss="alert">
				<span>&times;</span>
			</button>
		</div>
		<div th:replace="user/fragments/modals::enableModal"></div>
		<div th:replace="user/fragments/modals::disableModal"></div>
		<script>
			function enableUser(id) {
				$("#enableForm").attr("action", "[[@{/users/}]]" + id + "/enable");
			}
			
			function disableUser(id) {
				$("#disableForm").attr("action", "[[@{/users/}]]" + id + "/disable");
			}
		</script>
	</section>
</body>
</html>