<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>User</title>
</head>
<body>
	<section>
		<form th:action="@{/users/search/byUsernameOrName}" method="get">
			<div class="form-row d-flex justify-content-end mt-2">
				<div class="col-auto">
					<input type="text" id="searchParam" name="searchParam" class="form-control" placeholder="Username or Name" />
				</div>	
				<div class="col-auto">
					<button type="submit" class="btn btn-primary  mr-3">Search</button>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-hover mt-2">
				<thead class="thead-light">
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Name</th>
						<th>Role</th>
						<th>Enabled?</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.id}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.fullName}"></td>
						<td th:text="${user.role.name}"></td>
						<td th:text="${user.enabled ? 'Yes' : 'No'}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{/users/{id}(id=${user.id})}">Update</a>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
									th:onclick="'deleteUser(' + ${user.id} + ')'">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-end">
			<a class="btn btn-primary mr-3" th:href="@{/users/add}">Add</a>
		</div>
		<div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success alert-dismissible fixed-top">
			<div class="text-center font-weight-bold" th:text="${successMessage}"></div>
			<button type="button" class="close" data-dismiss="alert">
				<span>&times;</span>
			</button>
		</div>
		<div th:replace="user/fragments/modals::deleteModal"></div>
		<script>
			function deleteUser(id) {
				$("#deleteForm").attr("action", "[[@{/users/}]]" + id + "/delete");
			}
		</script>
	</section>
</body>
</html>