<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Hotel</title>
</head>
<body>
	<section>
		<form th:action="@{/hotels}" th:object="${hotel}" method="post">
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="name">Name</label>
					<input type="text" class="form-control" th:field="*{name}" />
					<div th:errors="*{name}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="email">Email</label>
					<input type="email" class="form-control" th:field="*{email}" />
					<div th:errors="*{email}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="phoneNumber">Phone Number</label> 
					<input type="tel" class="form-control" th:field="*{phoneNumber}" />
					<div th:errors="*{phoneNumber}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="city">City</label>
					<input type="text" class="form-control" th:field="*{city}" />
					<div th:errors="*{city}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="state">State</label>
					<input type="text" class="form-control" th:field="*{state}" />
					<div th:errors="*{state}"></div>
				</div>
				<div class="form-group col-auto">
					<label for="country">Country</label>
					<input type="text" class="form-control" th:field="*{country}" />
					<div th:errors="*{country}"></div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<button class="btn btn-primary">Save</button>
					<a class="btn btn-secondary" th:href="@{/hotels}">Cancel</a>
				</div>
			</div>
		</form>
	</section>
</body>
</html>