<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Hotel</title>
</head>
<body>
	<section>
		<form th:action="@{/hotels/search/byNameOrAddress}" method="get">
			<div class="form-row d-flex justify-content-end mt-2">
				<div class="col-auto">
					<input type="text" id="searchParam" name="searchParam" class="form-control" />
				</div>	
				<div class="col-auto">
					<button type="submit" class="btn btn-primary  mr-3">Search</button>
				</div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-hover mt-2">
				<thead class="thead-light">
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Manager</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hotel : ${hotels}">
						<td th:text="${hotel.name}"></td>
						<td th:text="${hotel.city + ', ' + hotel.state + ', ' + hotel.country}"></td>
						<td th:text="${hotel.managerFullName}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{/hotels/{id}(id=${hotel.id})}">Update</a>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
									th:onclick="'deleteHotel(' + ${hotel.id} + ')'">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="d-flex justify-content-end">
			<a class="btn btn-primary mr-3" th:href="@{/hotels/add}">Add</a>
		</div>
		<div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success alert-dismissible fixed-top">
			<div class="text-center font-weight-bold" th:text="${successMessage}"></div>
			<button type="button" class="close" data-dismiss="alert">
				<span>&times;</span>
			</button>
		</div>
		<div th:replace="hotel/fragments/delete::deleteModal"></div>
		<script>
			function deleteHotel(id) {
				$("#deleteForm").attr("action", "[[@{/hotels/}]]" + id + "/delete");
			}
		</script>
	</section>
</body>
</html>