<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Hotel</title>
</head>
<body>
	<section>
		<div>
			<table border="1">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Manager</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="hotel,status : ${hotels}">
						<td th:text="${status.count}"></td>
						<td th:text="${hotel.name}"></td>
						<td th:text="${hotel.managerFullName}"></td>
						<td>
							<a class="btn btn-primary" th:href="@{/hotels/{id}(id=${hotel.id})}">Update</a>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" 
									th:onclick="'deleteHotel(' + ${hotel.id} + ')'">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<a class="btn btn-primary" th:href="@{/hotels/add}">Add</a>
		</div>
		<div th:replace="hotel/fragments/delete::deleteModal"></div>
		<script>
			function deleteHotel(id) {
				$("#deleteForm").attr("action", "[[@{/hotels/}]]" + id + "/delete");
			}
		</script>
	</section>
</body>
</html>