<!DOCTYPE html>
<html th:replace="commons/layout::base(~{::title}, ~{::section})"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Login</title>
</head>
<body>
	<section>
		<h3>Sign In</h3>
		<div th:if="${param.logout}">You have been logged out.</div>
		<div th:if="${param.error}">Invalid Username or Password.</div>
		<form th:action="@{/login}" method="post">
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="username" class="sr-only">Username</label>
					<input type="text" id="username" name="username" class="form-control" placeholder="Username" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<label for="password" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<button class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
		<div class="text-muted">&copy;2018 Max Ramos All Rights Reserved</div>
	</section>
</body>
</html>